
main
{
    margin-left: 200px;
}

aside
{
    width:200px;
    z-index:2;
    display:none;
}

input[type="text"]
{
  width: 175px;
  text-align: center;
}

.btn, #input
{
    margin: 3px;
    min-width: 175px;
    max-width: 175px;
}

aside > *
{
    margin: 5px;
}

@media screen and (min-width: 992px) /*screen is less than 768*/
{
    #openNav
    {
        display: none;
    }
}

li
{
    list-style-type: none;
    
}

ul
{
    padding: 0;
}

.forecast
{
    display: flex;
    flex-wrap: wrap;
}

