*:root
{
    --sideSize: 250px;
}

header
{
    background-color:lightskyblue;
    margin: 0;
    padding: 10px;
}

.w3-sidebar
{
    height: 93%;
    width: var(--sideSize);
    z-index:2;
    display:none;
}

aside > *
{
    margin: 5px;
}


main
{
    margin-left: var(--sideSize);
    padding: 50px;
}


input[type="text"]
{
  width: 175px;
  text-align: center;
}

.btn, #input
{
    margin: 3px;
    min-width: 225px;
    max-width: 225px;
}


@media screen and (min-width: 992px) /*screen is less than 992*/
{
    #openNav
    {
        display: none;
    }
}

#search
{
    border-bottom: 5px solid;
    color: lightgrey;
    padding-bottom: 5px;
}

#warning
{
    color: red;
}

li
{
    list-style-type: none;
    
}

ul
{
    padding: 0;
}

#current
{
    max-width: 65rem;
    background-color:rgb(251, 255, 181);
}

.forecast
{
    max-width: 13rem;
    background-color:rgb(203, 235, 255);
    padding: 5px;
    
}

.forecast img
{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

